[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
flask-cors = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-bcrypt = "*"
sqlalchemy = "*"
cryptography = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.11"
